---
const { products, handleAddToBasket } = Astro.props;
---
<div>
    <h1>Products</h1>
    <ul>
        {products.map(product => (
        <li>
            <h2>{product.title}</h2>
            <p>{product.description}</p>
            <button onclick={handleAddToBasket}>add to basket</button>
            <div>
            {product.images.map(image => (
                <img src={image} loading="lazy" />
            ))
            }</div>
        </li>
        ))}
    </ul>   
</div>
